.event {
    position: relative;
    height: 675px;
    padding: 45px 0 45px 0;
    background: url('../../img/event-bg.jpg') center (center / cover) no-repeat;
    &__wrapper {
        position: relative;
        display: grid;
        grid-template-columns: minmax(auto, 600px) minmax(auto, 600px);
        column-gap: 80px;
        margin-top: 45px;
        justify-content: center;
    }
    &__block {
        align-self: center;
    }
    &__img {
        position: relative;
        @include round;
        &_first {
            display: flex;
            justify-content: flex-end;
            &:before {
                left: 0px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &_second {
            display: flex;
            justify-content: flex-start;
            &:before {
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        img {
            border-radius: 5px;
            width: 80%;
            object-fit: cover;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    &__descr {
        position: absolute;
        width: 80%;
        height: 20%;
        background: #000000;
        padding: 0 20px;

        font-family: 'Banny';
        font-size: 24px;
        line-height: 80px;
        text-transform: uppercase;
        color: #FFFFFF;
        &_first {
            transform: rotate(90deg);
            top: 40%;
            right: -32%;
            border-radius: 5px 5px 0px 0px;
        }
        &_second {
            transform: rotate(-90deg);
            top: 40%;
            left: -32%;
            border-radius: 5px 5px 0px 0px;
        }
    }
    &__call {
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        color: rgba(255, 255, 255, 0.5);
        text-align: center;
        max-width: 500px;
        margin: 0 auto;
        margin-top: 45px;
        span {
            font-weight: 700;
        }
    }
    .line {
        &__item_horizontal {
            display: none;
        }
        &__item_vertical {
            position: absolute;
            top: 0px;
            width: 1px;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.2);
        }
        &_first {
            left: 155px;
        }
        &_second {
            left: 50%;
            transform: translateX(-50%);
        }
        &_third {
            right: 155px;
        }
    }
}