.header {
    padding: 25px 0 83px 0;
    height: 800px;
    background: url('../../img/header-bg.jpg') center (center / cover) no-repeat;
    overflow: hidden;
    &__burger {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        display: none;
        div {
            width: 100%;
            height: 3px;
            background-color: #fff;
        }
    }
    &__nav {
        position: relative;
        display: grid;
        grid-template-columns: minmax(auto, 530px) minmax(170px, 220px) minmax(auto, 530px);
        grid-template-rows: 150px;
        z-index: 2;
    }
    &__list {
        list-style-type: none;
        margin-top: 25px;
        display: flex;
        justify-content: space-around;
        padding-left: 0;
        margin-bottom: 0;
        &:after {
            position: absolute;
            content: '';
            bottom: 75px;
            width: 40%;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
    &__link {
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        color: #FFFFFF;
        letter-spacing: 0;
        transition: .3s all;
        &:hover {
            color: #fff;
            text-decoration: none;
            opacity: .7;
        }
    }
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 150px;
            height: 150px;
        }
    }

    &__content {
        position: relative;
        padding-top: 150px;
        display: grid;
        grid-template-columns: 60px minmax(auto, 1000px) 60px;
        justify-content: space-between;
        &:before , &:after {
            @include line;
            top: -75px;
        }
        &:before {
            left: 210px;
        }
        &:after {
            right: 210px;
        }
    }
    &__date {
        width: 700px;
        height: 60px;
        font-weight: 700;
        font-size: 12px;
        line-height: 12px;
        color: #FFFFFF;
        transform: rotate(-90deg) translate(125px,-320px);
    }
    &__promo {
        z-index: 2;
        &:before , &:after {
            @include line;
            left: 50%;
            transform: translateX(-50%);
        }
        &:before {
            top: 36px;
            height: 454px;
        }
        &:after {
            bottom: -216px;
            height: 76px;
        }
    }
    &__header {
        text-align: center;
    }
    &__name {
        font-family: 'Banny';
        font-size: 96px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: center;
    }
    &__btns {
        margin: 0 auto;
        margin-top: 30px;
        width: 445px;
        display: flex;
        justify-content: space-between;
    }
    &__social-round {
        border: 1px solid rgba(255, 255, 255, 0.2);
        width: 60px;
        height: 60px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        transition: .3s all;
        &:hover {
            background-color: $main-color;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__arrow {
        border: 1px solid rgba(255, 255, 255, 0.2);
        width: 60px;
        height: 60px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 80px;
        transition: .3s all;
        // &:hover {
        //     background-color: $main-color;
        // }
    }
    &__arrow-link {
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s all;
        &:hover {
            transform: scale(1.2);
        }
    }
}