@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .team, .specialties, .event {
        height: 550px;
    }
    .contacts {
        &__wrapper {
            grid-auto-rows: 60px;
        }
        &__info {
            grid-column: 1/4;
            grid-row: 2/3;
        }
        &__form-btn {
            grid-column: 1/4;
        }
    }
    .event {
        &__wrapper {
            position: relative;
            display: grid;
            grid-template-columns: minmax(auto, 600px) minmax(auto, 600px);
            column-gap: 80px;
            margin-top: 45px;
            justify-content: center;
        }
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        font-size: 32px;
    }
    .subtitle {
        font-size: 14px;
    }
    .description {
        font-size: 13px;
    }
    .section-header {
        &:before {
            display: none;
        }
    }
    .line {
        display: none;
    }
    .header {
        height: 100vh;
        &__content {
            padding-top: 60px;
            grid-template-rows: auto 200px;
        }

        &__name {
            font-size: 62px;
        }
    }

    .about, .team, .book, .specialties {
        &__wrapper {
            column-gap: 20px;
        }
    }
    .team, .specialties {
        height: 500px;
    }
    .event {
        height: 500px;
        &__img {
            overflow: hidden;
        }
        &__descr {      
            font-size: 18px;
            height: 30%;
            &_first {
                top: 35%;
                right: -28%;
            }
            &_second {
                top: 35%;
                right: -28%;
            }
        }
    }
    .menu {
        &__content {
            column-gap: 20px;
            &-name {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .btn {
        width: 180px;
    }
    .header {
        &__nav {
            grid-template-columns: minmax(auto,530px) minmax(130px,220px) minmax(auto,530px);
        }
        &__list {
            &:after {
                width: 35%;
            }
        }
        &__logo {
            img {
                width: 130px;
                height: 130px;
            }
        }
        &__link {
            font-size: 10px;
        }
        &__name {
            font-size: 45px;
        }
        &__btns {
            width: 370px;
        }
    }
    .about, .team, .book, .specialties {
        &__wrapper {
            grid-template-columns: minmax(auto, 600px);
        }
        &__img {
            display: none;
        }
    }
    .book {
        &__form-btn {
            width: 100%;
        }
    }
    .event {
        height: 420px;
        &__wrapper {
            column-gap: 30px;
        }
        &__descr {      
            font-size: 14px;
            height: 34%;
            &_first {
                top: 33%;
                right: -28%;
            }
            &_second {
                top: 33%;
                right: -28%;
            }
        }
        &__img {
            &:before {
                display: none;
            }
        }
    }
    .contacts {
        padding: 45px 0 100px 0;
        .btn {
            width: 100%;
        }
        &__info-item {
            font-size: 10px;
        }
    }
}
@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .header {
        padding: 0 0 0 0;
        height: 100vh;
        &__burger {
            display: flex;
            div {
                transform: rotate(0) translate(0,0);
            }
            &_active {
                div {
                    transition: .3s all;
                    &:nth-child(1) {
                        transform: rotate(-45deg) translate(-15px, 16px);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                    &:nth-child(3) {
                        transform: rotate(45deg);
                    }
                }
            }
        }
        &__nav {
            position: absolute;
            grid-template-columns: 320px;
            grid-template-rows: repeat(2, 140px);
            row-gap: 10px;
            background-color: rgba(0,0,0,0.9);
            width: 50%;
            height: 100vh;
            z-index: 3;
            align-content: center;
            transition: .3s all;
            transform: translateX(-130%);
            &_active {
                transform: translateX(-5%);
            }
        }
        &__logo {
            display: none;
        }
        &__list {
            margin-top: 0px;
            flex-direction: column;
            justify-content: space-between;
            &:after {
                display: none;
            }
        }
        &__link {
            padding: 5px 20px;
            font-size: 30px;
        }
        &__content {
            grid-template-columns: 320px;
            grid-template-rows: 60px 200px 60px;
            height: 100vh;
            align-content: space-around;
            justify-content: center;
        }
        &__name {
            font-size: 36px;
        }
        &__date {
            transform: none;
            width: 100%;
            height: auto;
            font-size: 13px;
            text-align: center;
        }
        &__promo {
            align-self: center;
        }
        &__btns {
            width: 300px;
            flex-direction: row;
        }
        .btn {
            width: 140px;
        }
        &__arrow {
            display: none;
        }
        &__social {
            display: flex;
            margin: 0 auto;
            &-round {
                margin: 0 5px 20px 5px;
            }
        }
    }
    .book {
        &__wrapper {
            margin: 0 10px;
            column-gap: 0px;
        }
    }
    .menu {
        &__tabs {
            margin-top: 20px;
            &-link {
                font-size: 10px;
            }
        }
        &__content {
            margin-top: 20px;
            &-list {
                row-gap: 10px;
            }
            &-name {
                font-size: 11px;
                text-align: center;
            }
            &-descr {
                text-align: center;
                font-size: 10px;
            }
        }
    }
    .specialties {
        height: 100%;
    }
    .event {
        height: 100%;
        &__wrapper {
            column-gap: unset;
            grid-template-columns: minmax(auto, 600px);
            row-gap: 20px;
        }
        &__img {
           justify-content: center;
        }
        &__descr {
            &_first, &_second {
                right: -17%;
            }
            &_second {
                left: -17%;
            }
        }
    }
    .gallery {
        &__wrapper {
            padding: 20px;
            grid-template-columns: minmax(auto, 450px);
            row-gap: 20px;
            justify-content: center;
        }
    }
    .contacts {
        &__info {
            margin-top: 20px;
            grid-template-columns: auto;
            row-gap: 10px;
            justify-content: center;
        }
    }
}