.specialties {
    padding: 45px 0 45px 0;
    height: 675px;
    background: url('../../img/specialty-bg.jpg') center (center / cover) no-repeat;
    &__wrapper {
        z-index: 2;
        position: relative;
        display: grid;
        grid-template-columns: minmax(auto, 600px) minmax(auto, 600px);
        column-gap: 80px;
        margin-top: 45px;
        &:before , &:after {
            @include line;
            height: 675px;
            top: -103px;
        }
        &:before {
            left: 214px;
        }
        &:after {
            right: 194px;
        }
    }
    &__block {
        align-self: center;
    }
    &__img {
        display: flex;
        justify-content: flex-end;
        align-self: center;
        position: relative;
        @include round;
        &:before {
            left: 0px;
            top: 50%;
            transform: translateY(-50%);
        }
        img {
            border-radius: 5px;
            width: 80%;
            object-fit: cover;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    .section-header {
        position: relative;
        &:before {
            @include line;
            left: 50%;
            top: -45px;
            height: 675px;
            transform: translate(-50%);
        }
    }
    
}