.team {
    position: relative;
    padding: 45px 0 100px 0;
    height: 675px;
    background: url('../img/out-team-bg.jpg') center (center / cover) no-repeat;
    &__wrapper {
        z-index: 2;
        position: relative;
        display: grid;
        grid-template-columns: minmax(auto, 600px) minmax(auto,600px);
        column-gap: 72px;
        margin-top: 45px;
    }
    &__block {
        align-self: center;
    }
    &__img {
        display: flex;
        justify-content: flex-end;
        align-self: center;
        position: relative;
        @include round;
        &:before {
            left: 0px;
            top: 50%;
            transform: translateY(-50%);
        }
        img {
            border-radius: 5px;
            width: 80%;
            object-fit: cover;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    .line {
        &__item_horizontal {
            display: none;
        }
        &__item_vertical {
            position: absolute;
            top: 0px;
            width: 1px;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.2);
        }
        &_first {
            left: 155px;
        }
        &_second {
            left: 50%;
            transform: translateX(-50%);
        }
        &_third {
            right: 155px;
        }
    }
}