.section-header {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    z-index: 2;
}

.title {
    font-family: 'Banny';
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    &_white {
        color: #fff;
    }
}

.subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
    &_white {
        color: #fff;
    }
}

.description {     
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #000;
    margin-top: 30px;
    &_white {
        color: rgba(255, 255, 255, 0.9);
    }
}